.DS_Store

obj
Library
Temp
Logs
Builds
.idea

Assets/Plugins/Editor
Assets/Plugins/Editor.meta

*.csproj
!Assembly-CSharp-Editor.csproj
!Assembly-CSharp-firstpass.csproj
!Assembly-CSharp.csproj

DocCN.sln.DotSettings.user